@font-face {
  font-family: "FiraSans";
  src: url("/fonts/FiraSans-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "FiraSans";
  src: url("/fonts/FiraSans-Regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Cinzel";
  src: url("/fonts/Cinzel-Variable.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
