:root {
  --color-root: #0b1a24;
  --color-accent: #c48259;
  --color-plate-bg: #132634;
  --color-success: #50977b;
  --color-secondary: #7d5174;
  --color-muted: #a0a0a0;
  --color-light: #ffffff;
  --color-dark: #000000;

  --color-hover-bg: #0f202c;

  --color-text-primary: #eaeaea;
  --color-text-secondary: #060c11;
  --color-text-error: #9f1e1e;

  --color-border: #ffffff0d;

  --border-primary: 2px solid var(--color-border);

  --font-primary: "FiraSans", serif;
  --font-accent: "Cinzel", serif;

  --border-radius-lg: 12px;
  --border-radius-md: 6px;

  --transition-duration-long: 0.3s;
  --transition-duration: 0.2s;
  --transition-duration-short: 0.1s;
}
