:root {
  --font-primary: "FiraSans", serif;
  --font-accent: "Cinzel", serif;

  --border-radius-lg: 12px;
  --border-radius-md: 6px;

  --transition-duration-long: 0.3s;
  --transition-duration: 0.2s;
  --transition-duration-short: 0.1s;

  --color-light: #ffffff;
  --color-dark: #000000;
  --color-border-light: #a1a1aa;

  --border-light: 1px solid var(--color-border-light);
}
